{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>Edit task</h1>
    </div>
    <div class="row">
        <h3>{{ task.name }}</h3>
        <form action="{% url 'todo:edit_task' task.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ task.name }}"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" value="{{ task.description }}"
                       class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
