<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo App!</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/header :: header-content"/>
<div class="container">
    <h1>Open tasks</h1>

    <div class="row">
        <ul th:each="task : ${tasks}">
            <li><a th:href="${'view_task/' + task.id + '/'}" th:text="${task.name}"></a></li>
        </ul>
    </div>

    <form action="/" method="get" class="well form-search">
        <input name="name" type="text" class="form-control" placeholder="Search ..."/>
        <button type="submit" class="btn">Go</button>
    </form>

    <form action="/create" method="post" class="well">
        <label>Name</label>
        <input type="text" name="name" placeholder="Name"/>
        <label>Description</label>
        <input type="text" name="description" placeholder="Description"/>
        <br/>
        <button type="submit" class="btn">New Task</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>