<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table th:each="task : ${tasks}">
    <tr>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
    </tr>
</table>
<form action="/" method="get">
    Name:<br/>
    <input type="text" name="name"/>
    <br/>
    <input type="submit" value="Search"/>
</form>
<form action="/create" method="post">
    Name:<br/>
    <input type="text" name="name"/>
    Description:<br/>
    <input type="text" name="description"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
</body>
</html>